:host ::ng-deep.p-button.p-button-outlined {
  color: #e56729;
}
:host ::ng-deep.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #da7f51, 0 1px 2px 0 black;
}
:host ::ng-deep .p-button:enabled:hover {
  background: #e56729;
  color: #ffffff;
  border-color: #e56729;
}
:host ::ng-deep .form-button-login .p-button {
  width: 100% !important;
}
