/* :host ::ng-deep .custom-navbar {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .p-menubar-start,
  .p-menubar-end {
    display: flex;
    align-items: center;
  }

  .p-menubar-root-list {
    display: none; 
  }
} */
:host ::ng-deep.p-button.p-button-outlined {
  color: #e56729;
}

:host ::ng-deep.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #da7f51, 0 1px 2px 0 black;
}

:host ::ng-deep .p-button:enabled:hover {
  background: #e56729;
  color: #ffffff;
  border-color: #e56729;
}

/* Personalização do icone de hamburguer */
:host ::ng-deep .p-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

/*Imagem da logo, inicialmente não aparecera */
.logo-image {
  display: none;
}

/*Quebra para aparecer a logo*/
@media (min-width: 1082px) {
  .logo-image {
    display: block;
    height: 70px;
    width: auto;
  }
}

/*Botão de pesquisa só aparecerá apartir de 500px */
.search-container {
  display: none;
}
@media (min-width: 500px) {
  .search-container {
    display: block;
  }
}

:host ::ng-deep.p-button.p-button-outlined {
  color: #e56729;
}
:host ::ng-deep.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #e56729;
  background: #eff6ff;
}

.container{
  display: flex;
  flex-direction: row;
}







/*=============================================================================== */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
  padding: 4.5rem;
  justify-items: center;
  background-color: #f8f9fa;
}

.produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  /* max-width: 260px; */
}

.produtos:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* .container-img {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

.img-produto {
  width: 100%;
  height: auto;
  object-fit: contain; 
  max-height: 220px;
  transition: transform 0.3s ease;
}

.produtos:hover .img-produto {
  transform: scale(1.05);
}

.info-produto {
  padding: 0.8rem 1rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* 
.avaliacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  min-height: 36px;
} */


.quantidade {
  font-size: 0.9rem;
  color: #555;
}

.preco {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
  margin-top: 0.3rem;
}





